<div style="padding: 20px;">
  <a href="" style="color:#A1A1A1; font-family:Helvetica, sans-serif; font-size:9px; font-weight:bold; text-decoration:none;">
    Unsubscribe link
  </a>
</div>

<div style="padding: 20px;">
  <a href="" style="color: #7c7d82; text-decoration: none; font-family: Helvetica, sans-serif; font-weight: 100; font-size: 16px; line-height: 19px;">
    Header link
  </a>
</div>

<div style="padding: 20px;">
  <a href="http://streeteasy.com/mobile" style="color: #0094D1; font-family: Helvetica; font-size: 13px; font-weight: bold; text-decoration: none;">
    Download&nbsp;the&nbsp;App
  </a>
</div>

<div style="padding: 20px;">
  <a style="color: #0094D1; font-family: Helvetica-Light, sans-serif; font-size: 9px; font-weight: bold; letter-spacing: 0.2px; text-decoration: none;" href="http://www.zillow.com/corp/Privacy.htm" target="_blank">
    PRIVACY POLICY
  </a>
</div>
