<h3>Main text</h3>

<div style="background-color:#FFFFFF; padding: 20px;">
  <p style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#222A3A;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita consequuntur repellendus, reprehenderit ut harum illo, assumenda non fuga nemo molestiae perferendis neque, earum doloremque aut autem accusantium unde ullam quo?</p>
</div>

<h3>On the blue background</h3>
<div style="background-color:#CFF4FE; padding: 20px;">
  <p style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#062962; line-height:22px;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita consequuntur repellendus, reprehenderit ut harum illo, assumenda non fuga nemo molestiae perferendis neque, earum doloremque aut autem accusantium unde ullam quo?
  </p>
</div>

<h3>Terms of use text</h3>
<div style="padding: 20px;">
  <p align="left" style="font-family:Arial,sans-serif;font-size: 14px; color:#8C8C8C;line-height: 24px;text-align:left;padding-top:10px;">
    <i>As per our <a href="#" style="text-decoration:none; color: #0195E5;">Terms of Use</a>, refunds are not available. Contact <a  href="#" style="text-decoration:none; color: #0195E5;">support@streeteasy.com</a> with questions.</i>
  </p>
</div>

<h3>Footer text</h3>
<div style="background-color:#FFFFFF; padding: 20px;">
  <p align="center" style="color:#1a1f2c; font-family:Arial,sans-serif; font-size:10px; text-align:center;">
    &copy; StreetEasy &bull; &#8203;130 Fifth Avenue&#8203;&#8203; &bull; &#8203;&nbsp;New York, NY 10011&#8203;
  </p>
</div>