<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/aqua.css?cachebust=1.2.0" type="text/css">


<title>Notification Banner | Streeteasy Email Styleguide</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Streeteasy Email Styleguide</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-a19d9c121a0f2346195756f3dfd8ec72">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/top_part.html" title="Component preview">
            Notification Banner
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-a19d9c121a0f2346195756f3dfd8ec72">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/top_part.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-a19d9c121a0f2346195756f3dfd8ec72">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-a19d9c121a0f2346195756f3dfd8ec72-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-a19d9c121a0f2346195756f3dfd8ec72-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-a19d9c121a0f2346195756f3dfd8ec72-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-meta">&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"en"</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">title</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">title</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"viewport"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">http-equiv</span>=<span class="hljs-string">"Content-Type"</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"text/html; charset=UTF-8"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">meta</span> <span class="hljs-attr">content</span>=<span class="hljs-string">"telephone=no"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"format-detection"</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">style</span> <span class="hljs-attr">media</span>=<span class="hljs-string">"screen"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span><span class="css">
        * {
            <span class="hljs-attribute">font-family</span>: Arial, sans-serif;
            <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>;
            <span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span>;
        }

        <span class="hljs-selector-tag">a</span><span class="hljs-selector-attr">[class="googleAddressBlock"]</span> <span class="hljs-selector-tag">span</span><span class="hljs-selector-attr">[class="googleAddressBlock"]</span> {
            <span class="hljs-attribute">color</span>: <span class="hljs-number">#0195E5</span> <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">text-decoration</span>: none;
            <span class="hljs-attribute">text-decoration</span>: none <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">underline</span>: none <span class="hljs-meta">!important</span>;
        }

        <span class="hljs-selector-tag">a</span> {
            <span class="hljs-attribute">text-decoration</span>: none;
            <span class="hljs-attribute">text-decoration</span>: none<span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">underline</span>: none <span class="hljs-meta">!important</span>;
        }

        <span class="hljs-selector-tag">a</span><span class="hljs-selector-attr">[x-apple-data-detectors]</span> {
            <span class="hljs-attribute">color</span>: inherit <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">text-decoration</span>: none;
            <span class="hljs-attribute">text-decoration</span>: none <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">font-size</span>: inherit <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">font-family</span>: inherit <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">font-weight</span>: inherit <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">line-height</span>: inherit <span class="hljs-meta">!important</span>;
            <span class="hljs-attribute">underline</span>: none <span class="hljs-meta">!important</span>;
        }

        <span class="hljs-selector-tag">p</span> {
            <span class="hljs-attribute">font-size</span>: <span class="hljs-number">15px</span>;
            <span class="hljs-attribute">margin</span>: <span class="hljs-number">15px</span> <span class="hljs-number">0</span>;
        }
    </span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">style</span> <span class="hljs-attr">media</span>=<span class="hljs-string">"only screen and (max-width: 600px)"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span><span class="css">
        @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-number">600px</span>) {
            *,
            <span class="hljs-selector-tag">p</span> {
                <span class="hljs-attribute">font-size</span>: <span class="hljs-number">15px</span>;
            }
            <span class="hljs-selector-tag">center</span> {
                <span class="hljs-attribute">min-width</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
            }
            <span class="hljs-selector-tag">center</span>&gt;<span class="hljs-selector-tag">table</span> {
                <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span> <span class="hljs-meta">!important</span>
            }

            <span class="hljs-selector-tag">td</span><span class="hljs-selector-attr">[class="hide_m"]</span> {
                <span class="hljs-attribute">display</span>: none <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">line-height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">mso-hide</span>: none <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">max-height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">max-width</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">visibility</span>: hidden <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">width</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
            }

            <span class="hljs-selector-tag">a</span><span class="hljs-selector-attr">[class="hide_m"]</span> {
                <span class="hljs-attribute">display</span>: none <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">line-height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">mso-hide</span>: none <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">max-height</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">max-width</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">visibility</span>: hidden <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">width</span>: <span class="hljs-number">0</span> <span class="hljs-meta">!important</span>;
            }

            <span class="hljs-selector-tag">table</span><span class="hljs-selector-attr">[class="mobile_width"]</span> {
                <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">max-width</span>: <span class="hljs-number">360px</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> auto;
            }

            <span class="hljs-selector-tag">td</span><span class="hljs-selector-attr">[class="width_15"]</span> {
                <span class="hljs-attribute">width</span>: <span class="hljs-number">15px</span> <span class="hljs-meta">!important</span>;
            }

            <span class="hljs-selector-class">.appleLinks</span> <span class="hljs-selector-tag">a</span> {
                <span class="hljs-attribute">color</span>: <span class="hljs-number">#c8c6c6</span>;
                <span class="hljs-attribute">text-decoration</span>: none;
            }

            <span class="hljs-selector-tag">span</span><span class="hljs-selector-attr">[class="googleAddressBlock"]</span> {
                <span class="hljs-attribute">color</span>: <span class="hljs-number">#1A1F2C</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">font-family</span>: Helvetica, sans-serif;
                <span class="hljs-attribute">font-size</span>: <span class="hljs-number">10px</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">text-decoration</span>: none <span class="hljs-meta">!important</span>;
            }

            <span class="hljs-selector-tag">span</span><span class="hljs-selector-attr">[class="googleAddressBlock"]</span> <span class="hljs-selector-tag">a</span> {
                <span class="hljs-attribute">color</span>: <span class="hljs-number">#1A1F2C</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">font-family</span>: Helvetica, sans-serif;
                <span class="hljs-attribute">font-size</span>: <span class="hljs-number">10px</span> <span class="hljs-meta">!important</span>;
                <span class="hljs-attribute">text-decoration</span>: none <span class="hljs-meta">!important</span>;
            }
        }
    </span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">body</span> <span class="hljs-attr">bgcolor</span>=<span class="hljs-string">'#F5F5F5'</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"#1a1f2c"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"100%"</span> <span class="hljs-attr">bgcolor</span>=<span class="hljs-string">'#F5F5F5'</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"font-family: Helvetica,sans-serif; font-size: 13px; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%!important; height: 100%;"</span> <span class="hljs-attr">cellpadding</span>=<span class="hljs-string">"0"</span> <span class="hljs-attr">cellspacing</span>=<span class="hljs-string">"0"</span> <span class="hljs-attr">border</span>=<span class="hljs-string">"0"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">bgcolor</span>=<span class="hljs-string">'#F5F5F5'</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"center"</span> <span class="hljs-attr">valign</span>=<span class="hljs-string">"top"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"max-width:600px;"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">center</span>&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"600"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"border-top: 5px solid #032765"</span> <span class="hljs-attr">cellpadding</span>=<span class="hljs-string">"0"</span> <span class="hljs-attr">cellspacing</span>=<span class="hljs-string">"0"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mobile_width"</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">colspan</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">'line-height:1px; font-size:1px;'</span>&gt;</span>&amp;nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"40"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"width_15"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"left"</span> <span class="hljs-attr">valign</span>=<span class="hljs-string">"bottom"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-click-track-id</span>=<span class="hljs-string">"2630"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://streeteasy.com/"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"display: inline-block"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"logo"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://d1pgqke3goo8l6.cloudfront.net/BAj6AaxfTdiVz6JJ6qb3_2018_StreetEasy_Logo_2x.png"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"120"</span>
                      <span class="hljs-attr">height</span>=<span class="hljs-string">"25"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"StreetEasy"</span> <span class="hljs-attr">border</span>=<span class="hljs-string">"0"</span>&gt;</span>
                  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"right"</span> <span class="hljs-attr">valign</span>=<span class="hljs-string">"bottom"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"menu_links hide_m"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"font-family:Helvetica,sans-serif;font-size:20px;font-weight:100;line-height:1.5;"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://streeteasy.com/"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hide_m"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"font-family: Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.2;color:#62646A;text-decoration:none!important;"</span>&gt;</span>Sales<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">'https://d1pgqke3goo8l6.cloudfront.net/rilfmSUMTZW4ZLv331dz_spacer.gif'</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"35"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"1"</span> <span class="hljs-attr">border</span>=<span class="hljs-string">"0"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"top_space"</span> /&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://streeteasy.com/rentals"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hide_m"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"font-family: Helvetica,sans-serif;font-size:16px;font-weight:400;line-height:1.2;color:#62646A;text-decoration:none!important;"</span>&gt;</span>Rentals<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">width</span>=<span class="hljs-string">'40'</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"width20"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">colspan</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"55"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">'line-height:1px;font-size:1px;'</span>&gt;</span>&amp;nbsp;<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                            <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
                                <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hide"</span> <span class="hljs-attr">colspan</span>=<span class="hljs-string">"4"</span>&gt;</span>
                                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"1"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://d1pgqke3goo8l6.cloudfront.net/rilfmSUMTZW4ZLv331dz_spacer.gif"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"min-width: 600px;"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"600"</span>&gt;</span>
                                <span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
                            <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
                        <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-a19d9c121a0f2346195756f3dfd8ec72-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-button">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Button</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--default.html" data-pjax>
                <span>BlueBase</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button--white.html" data-pjax>
                <span>Transparent</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="item_card.html" data-pjax>
                <span>Item Card</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="main_container.html" data-pjax>
                <span>Main Container</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Top Part</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-typography">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Typography</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headers.html" data-pjax>
                <span>Headers</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="text.html" data-pjax>
                <span>Text</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
