<h3>Fixed width</h3>

<table width="278" cellspacing="0" cellpadding="0" border="0" align="center" bordercolor="#CDCDCD" style="border-width:0;">
  <tr>
    <td style="text-align:center; background-color: #F5F5F5; padding:1px;">
        <a data-click-track-id="8293" href="#" style="min-width: 90px; white-space: nowrap !important; border: 1px solid #CDCDCD; color: #0080C6; display: block; font-size: 12px; line-height: 15px; font-family: Helvetica; font-weight: bold; text-decoration: none; text-align: center; padding-top:15px; padding-right:26px; padding-bottom:14px; padding-left:24px; text-decoration: none; text-decoration: none;">
          <span style="color: #0080C6;">SET A PASSWORD</span>
        </a>
    </td>
  </tr>
</table>

<h3>Width 100%</h3>

<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="#CDCDCD" style="border-width:0;">
  <tbody>
    <tr>
      <td style="background: #F5F5F5; vertical-align: middle; border: 1px solid #CDCDCD;" height="46" align="center">
        <a data-click-track-id="4786" href="#" style="background: #F5F5F5;  color: #0080C6; display: block; font-size: 12px; line-height: 14px; font-family: Helvetica, sans-serif; font-weight: 700; text-decoration: none; text-align: center; width: 100%;">
          <span style="color: #0080C6;">VIEW LISTING</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

